# Dependencies (ignores all node_modules in root, frontend, and backend)
node_modules/

# Environment Variables (sensitive info)
.env
.env.local
backend/.env

# Local Data and Logs
backend/data/
backend/prompts/
*.log

# Build outputs (Standard for React/Vite/Next.js)
dist/
build/
.next/

# OS specific files
.DS_Store
Thumbs.db

.git/

cristolicon.png
package-lock.json
README.md

output.txt
